<footer class="bg-gray-900 text-white p-5 md:p-8">
    <div class="container mx-auto flex justify-between">
      <div class="max-md:max-w-[50vw]">
        <h4 class="font-bold text-xl mb-4">Contact Us</h4>
        <p class="mb-2">📍123 Street, City, Country</p>
        <p class="mb-2">📞+1 234567890</p>
        <p class="mb-2">
          📧<a href="mailto:info@carrental.com" class="hover:underline"
            >info@carrental.com</a
          >
        </p>
      </div>

      <div>
        <h4 class="font-bold text-xl mb-4">Follow Us</h4>
        <div class="flex gap-2 md:gap-4 max-md:flex-col">
          <a href="#" class="hover:text-yellow-400">Facebook</a>
          <a href="#" class="hover:text-yellow-400">Instagram</a>
          <a href="#" class="hover:text-yellow-400">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="text-center text-sm mt-8">
      © 2025 Car Rental Platform. All Rights Reserved.
    </div>
  </footer>